@use "sass:map";
@each $key, $val in $colors {
  @if ($val != black and $val != white) {
    $color: map.get($colors, $key);
    @for $i from 1 through 9 {
      $percentage: $i * 10%;
      .text-black-#{$i} {
        background-color: mix(black,  $val, $percentage);
      }
      .text-light-#{$i} {
        background-color: mix(white,  $val, $percentage);
      }
    }
  }
}
